body {
  background-color: rgb(0, 0, 0);
}

:root {
  --color_one: rgb(45, 126, 192);
  --color_one_dark: rgb(19, 70, 163);
  --color_two: rgb(18, 4, 94);
  --color_two_dark: rgb(70, 157, 228);
  --color_three: rgb(1, 255, 1);
  --margin: 15%;
  font-size: 12px;
}

.grid-section {
  margin-left: var(--margin);
  margin-right: var(--margin);
  display: grid;
  gap: 1rem;
  max-width: 100%;
  /* Nice to remember but i dont need it */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

/* From stack how to make heigtht equal width */
/* ----------------------------------------- */
/* .grid-section::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-section > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
} */
/* ------------------------------------------ */

.frame {
  background-color: var(--color_one);
  color: var(--color_one);
  font-size: 10rem;

  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
}

.disabled {
  pointer-events: none;
}

.frame:hover {
  transform: scale(1.05);
  background-color: var(--color_one_dark);
  color: var(--color_one_dark);
}

.scoreboard {
  background-color: var(--color_two);
  color: var(--color_two_dark);
  font-size: 7rem;

  margin-left: var(--margin);
  margin-right: var(--margin);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
}
